@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    background-color: #1B1B2F;
    color: #fff;
    margin: 0;
    padding: 0;
}

.header {
    text-align: center;
    padding: 20px;
    background-color: #2a2e3b;
    transition: transform 0.2s ease, background-color 0.3s ease;
}
.header:hover {
     transform: scale(1.05);
}

h1 {
    margin: 0;
}

.search-bar {
    text-align: center;
    margin: 20px;
}

.search-bar input {
    padding: 10px;
    font-size: 14px;
    width: 250px;
    border: none;
    border-radius: 5px;
    box-sizing: border-box; 
}

.search-bar button {
    padding: 10px;
    background-color: #6fe57c;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
    width: 80px;
    font-size: 14px;
}

.search-bar button:hover {
    background-color: #3cf251;
}

.library-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px;
}

.book-card {
    background-color: #2a2e3b;
    border-radius: 8px;
    margin: 10px;
    padding: 10px;  
    width: 150px; 
    height: 250px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    min-height: 250px; 
}

.book-card img {
    width: 100%;
    height: 120px; 
    border-radius: 5px;
    object-fit: contain;
}

.book-card h3 {
    font-size: 12px;
    margin: 10px 0;
    height: 30px; 
    overflow: hidden;
    white-space: wrap; 
}

.book-card .read-btn,
.book-card .remove-btn {
    display: inline-block;
    background-color: #6fe57c;
    padding: 6px 12px; 
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 12px;
    max-width: 120px; 
    min-width: 80px;  
    margin-top: 10px;
    align-self: center;
    text-align: center;
}
.book-card .read-btn:hover {
    background-color: #3cf251;
}

.book-card .remove-btn {
    background-color: #f44336;
}

.book-card .remove-btn:hover {
    background-color: #ef3330;
}


.message-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  transition: opacity 0.5s ease;
  opacity: 1;
}

.message {
  background: linear-gradient(90deg, #b30000, #ff4d4d);
  border-radius: 8px;
  padding: 10px;
  font-family: 'Poppins', sans-serif;
  color: #E6FFE9;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.4);
  max-width: 400px;
  text-align: center;
}

.message a {
  display: inline-block;
  margin-top: 15px;
  padding: 8px 18px;
  background-color: #3cf251;
  color: white;
  border-radius: 6px;
  text-decoration: none;
  font-weight: 500;
  transition: background-color 0.3s ease;
}

.message a:hover {
  background-color: #00c67a;
}

.message-overlay.fade-out {
  opacity: 0;
}
